@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

.card {
    box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 50px;
}

.text-normal {
    font-size: 17px
}

.bg-black {
    background-color: #1a1a1a;
}

.bg-white {
    background-color: #ffffff;
}

/* COLORS - COLORS - COLORS - COLORS - COLORS - COLORS - COLORS - COLORS */

.white {
    color: white
}

.dark-blue {
    color: #213A57;
}

.dark-blue-bg {
    background-color: #213A57;
}

.blue {
    color: #0B6477;
}

.blue-bg {
    background-color: #0B6477;
}


.light-blue {
    color: #14919B;
}

.light-blue-bg {
    background-color: #14919B;
}

.sky-blue {
    color: #0AD1C8;
}

.sky-blue-bg {
    background-color: #0AD1C8;
}

.cyan {
    color: #45DFB1;
}

.cyan-bg {
    background-color: #45DFB1;
}

.cyan-lighter {
    color: #80ED99;
}

.cyan-lighter-bg {
    background-color: #80ED99;
}

/* COLORS - COLORS - COLORS - COLORS - COLORS - COLORS - COLORS - COLORS */